{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block title %}Newsletter{% endblock %}

{% block body %}
<body id="bg-newsletter-page">
    <div id="page-newsletter-padding">
        <h1 id="h1-newsletter-page"> Bienvenue dans l'espace newsletter </h1> 
     <p id="p-newsletter-page">Cher(e) joueurs(se) l'espace newsletter te permet de voir quand tu le souhaite les infos du site...</p>
    </div>
    <div id="container-news-home">	
        {% for new in news %}
        <div id="cards-news-home">
            <div id="title-news-home">
                <p id="news-home">{{ new.title}}</p>
            </div>
            <div id="message-news-home">
                <p id="news-home-message">{{new.message }}</p>
            </div>
            <div id="date-news-home">
                {{ new.createdAt|date('d/m/Y')}}
            </div>
            <div id="author-news-home">
                {{ new.author}}
            </div>
        
        </div>
        {% endfor %}
    </div> 
</body>

{% endblock %}