{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block title %}Combat{% endblock %}



{% block body %}
<body id="bg-combat-page">
    <div id="combat-page-padding">
        <h1 id="h1-combat-page">BIENVENUE DANS L'ESPACE COMBAT</h1>
        <form method="GET">
            <div>
                <input type="text" name="q" value="{{ app.request.query.get('q') }}" placeholder="Recherche..." aria-label="Recherche..." aria-describedby="button-addon2">
                <button type="submit" id="btn-gestionnaire-contact">Rechercher</button>
            </div>
        </form>
        <table class="table tbla-striped" id="table-combat-page">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>niveau</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for perso in persos %}
                    <tr>
                        <td>{{ perso.pseudo }}</td>
                        <td>{{ perso.niveau}}</td>
                        <td>
                            <a href="{{ path('attente',{id: combat.id}) }}" class="btn btn-sm btn-primary">Demande de Combat</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}




