{% extends 'base.html.twig' %}

{% block title  %}Inscription{% endblock %}

{% block body %}

    <h1>Inscription</h1>

    <div>
        {{ form_start(form) }}
            <div class="nom">

                {{ form_row(form.name) }}
                <br><br>
            </div>
            <div class="prenom">

                {{ form_row(form.firstname) }}
                <br><br>
            </div>
            <div class="civilite">

                {{ form_row(form.civility) }}
                <br><br>
            </div>
            <div class="address">

                {{ form_row(form.address) }}
                <br><br>
            </div>
            <div class="email">

                {{ form_row(form.email) }}
                <br><br>
            </div>
            <div class="mdp">
                {{ form_row(form.password.first) }}
                {{ form_row(form.password.second) }}
                <br><br>
            </div>
            <div class="tel">

                {{ form_row(form.phoneNumber) }}

            </div>
                <button class="btn-inscription" type="submit">Inscription</button>
        {{ form_end(form) }}<br><br>
    </div>
{% endblock %}