{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('css/styles-inscription.css') }}">
{% endblock %}

{% block title  %}Inscription{% endblock %}



{% block body %}

<div id="bg">

        <h1 id="h1-inscription">Inscription</h1>

        {{ form_start(form) }}

        {{ form_row(form.civility) }}

        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.firstname) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.name) }}
            </div>
        </div>
        {{ form_row(form.address) }}

        {{ form_row(form.email) }}


        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.password.first) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.password.second) }}
            </div>
        </div>
        {{ form_row(form.phoneNumber) }}

        <button type="submit">Créer son compte</button>
        {{ form_end(form) }}

</div>

{% endblock %}
