<!-- Partie Header-->
<header>
    <!--   <div id="head-container">

            <div id="headerGD">
                <div id="headerG">
                    <img  id="img-logo"src="{{asset('images/logo/LOGOwhite.png')}}" alt="logo"></a></div>
                </div>

                <div id="headerD">
                    <ul id="menu">
                            <li id="active"><a href="#">Accueil</a></li>
                            <li><a href="#">Règle du jeux</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Statistiques du site</a></li>
                            <li><a href="#">Admin</a></li>
                    </ul>
                </div>

            </div>


    </div>-->
    <nav class="navbar navbar-expand-lg navbar-light" id="navbar-light">
        <a class="navbar-brand" href="#">
            <img  id="img-logo" src="{{asset('images/logo/LOGOwhite.png')}}" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav" id="menu">
                <a class="nav-item nav-link active" href="{{ path('home_page') }}">Accueil</a>
                <a class="nav-item nav-link" href="{{ path('regle') }}">Règles du jeux</a>
                <a class="nav-item nav-link" href="{{ path('news') }}">News</a>
                <a class="nav-item nav-link" href="{{ path('contact') }}">Contact</a>
                <a class="nav-item nav-link" href="#">statistiques du site</a>
                {% if is_granted('ROLE_ADMIN') %}
                <a class="nav-item nav-link" href="{{ path('admin_dashboard') }}">Admin</a>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <a class="nav-item nav-link" href="{{ path('membre') }}">Membre</a>
				{% endif %}
                {% if is_granted('ROLE_USER') %}
                    <a class="nav-item nav-link" href="{{ path('combat') }}">Combat</a>
				{% endif %}
            </div>
        </div>
        {% if app.user %}
			<li class="nav-item dropdown" id="btn-deconnexion">
				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ path('user_gestion') }}">Gestion des utilisateurs</a></li>
                        <li><a class="dropdown-item" href="#">Gestion du chat</a></li>
						<li><a class="dropdown-item" href="{{ path('contact_gestion') }}">Gestion des contacts</a></li>
					{# liens pour les pages ROLE_USER #}
					<li><hr class="dropdown-divider"></li>
				</ul>
			</li>
		{% endif %}
            <ul class="navbar-nav mb-2 mb-lg-0">
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}" id="btn-nav-deconnexion">Deconnexion</a>
                    </li>
                    {% else %}
                {% endif %}
            </ul>
    </nav>

    <h1 id="h1" style="font-family: 'MedievalSharp', cursive;">The Age Of Spirits</h1>
    <div id="subHead">
        {% if app.user %}
        
        {% else %}

        <div id="btn-headG">
                <button id="btn-header-inscription" type="button"><a href="{{ path('registration') }}">Inscription</a></button>
        </div>
        <div id="btn-headD">
                <button id="btn-header-connexion" type="button"><a href="{{ path('app_login') }}">Connexion</a></button>
         </div>
        {% endif %}
    </div>
    <p id="speach">The Age of Spirits est un jeu navigateur qui permet de créer son personnage dans le royaume de Bolateria et de choisir son camp pour combattre les humains ou les esprits</p>
</header>
