{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block title %}{% endblock %}

{% block body %}
<body id="container-body">
    <div id="containerBodyHome">
        <div id="histoire">
            <h2 id="h2-histoire">Histoire du jeu</h2>
            <div id="image-histoire">
                <img src="{{asset('images/fond/histoire.png')}}" alt="histoire du jeu" class="w-100">
            </div>
        </div>
        <div id="container-perso">
            <h2 id="h2-perso">Nos personnages</h2>
            <div id="container-cards">
                <div id="cardgood">
                    <img src="{{asset('images/cards/cardsFemmeGood/cards_archerF.png')}}" alt="archer femme good">
                    <img src="{{asset('images/cards/cardsFemmeGood/cards_barbareF.png')}}" alt="barbare femme good">
                    <img src="{{asset('images/cards/cardsFemmeGood/cards_moineF.png')}}" alt="moine femme good">
                    <img src="{{asset('images/cards/cardsHommeGood/cards_archerH.png')}}" alt="archer Homme good">
                    <img src="{{asset('images/cards/cardsHommeGood/cards_barbareH.png')}}" alt="barbare Homme good">
                    <img src="{{asset('images/cards/cardsHommeGood/cards_moineH.png')}}" alt="moine Homme good">
                </div>
                <div id="cardsbad">
                        <img src="{{asset('images/cards/cardsFemmeBad/cards_archerF_MAL.png')}}" alt="archer femme bad">
                        <img src="{{asset('images/cards/cardsFemmeBad/cards_barbareF_MAL.png')}}" alt="barbare femme bad">
                        <img src="{{asset('images/cards/cardsFemmeBad/cards_moineF_MAL.png')}}" alt="moine femme bad">
                        <img src="{{asset('images/cards/cardsHommeBad/cards_archerH_MAL.png')}}" alt="archer Homme bad">
                        <img src="{{asset('images/cards/cardsHommeBad/cards_barbareH_MAL.png')}}" alt="barbare Homme bad">
                        <img src="{{asset('images/cards/cardsHommeBad/cards_moineH_MAL.png')}}" alt="moine Homme bad">
                </div>
            </div>
        </div>
        <div id="containerIllustration">
            <img src="{{asset('images/fond/bg-frontpage.jpg')}}" alt="illustation site">
        </div>
        <div id="container-news"></div>
        <div id="container-stats">
            <div id="cardsstats">
                <div id="title-stats"><p>Stats du site</p></div>
                <div id="subtittle"><p>Classement</p></div>
            </div>
            <div id="classement">
                <ol>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                </ol>
            </div>
        </div>
    </div>
</body>
{% endblock %}
