{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block title %}{% endblock %}

{% block body %}
	<body id="container-body">
		<div id="containerBodyHome">
			<div id="histoire">
				<h2 id="h2-histoire">Histoire du jeu</h2>
				<div id="image-histoire">
					<img src="{{asset('images/fond/histoire.png')}}" alt="histoire du jeu" class="w-100">
				</div>
			</div>
			<!-- 1 ligne de card perso -->
			<h2 id="h2-perso">Nos personnages</h2>
			<h3 id="h3-perso-humain">Clan Humain</h3>
			<div class="row row-cols-1 row-cols-md-3 g-4" id="card-persos">
				<div class="col">
					<h5 class="card-title" id="card-title-perso">Archer Femme</h5>
					<div class="card h-100" id="h-100">
						<img src="{{asset('images/cards/persos/cards_archerF.png')}}" class="card-img-top" alt="archer femme good" id="card-img-perso">
						<div class="card-body" id="card-body-perso">
							<p class="card-text"></p>
						</div>
					</div>
				</div>
				<div class="col">
					<h5 class="card-title" id="card-title-perso">Barbare Femme</h5>
					<div class="card h-100" id="h-100">
						<img src="{{asset('images/cards/persos/cards_barbareF.png')}}" class="card-img-top" alt="barbare femme good" id="card-img-perso">
						<div class="card-body" id="card-body-perso">
							<p class="card-text"></p>
						</div>
					</div>
				</div>
				<div class="col">
					<h5 class="card-title" id="card-title-perso">Moine Femme</h5>
					<div class="card h-100" id="h-100">
						<img src="{{asset('images/cards/persos/cards_moineF.png')}}" class="card-img-top" alt="moine femme good" id="card-img-perso">
						<div class="card-body" id="card-body-perso">
							<p class="card-text"></p>
						</div>
					</div>
				</div>
			</div>
			<!-- 2eme ligne de card perso -->
			<div class="row row-cols-1 row-cols-md-3 g-4" id="card-persos">
				<div class="col">
					<div class="card h-100" id="h-100">
						<img src="{{asset('images/cards/persos/cards_archerH.png')}}" class="card-img-top" alt="archer Homme good" id="card-img-perso">
						<div class="card-body" id="card-body-perso">
							<p class="card-text"></p>
							<h5 class="card-title" id="card-title-perso">Archer Homme</h5>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card h-100" id="h-100">
						<img src="{{asset('images/cards/persos/cards_barbareH.png')}}" class="card-img-top" alt="barbare Homme good" id="card-img-perso">
						<div class="card-body" id="card-body-perso">
							<p class="card-text"></p>
							<h5 class="card-title" id="card-title-perso">Barbare Homme</h5>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card h-100" id="h-100">
						<img src="{{asset('images/cards/persos/cards_moineH.png')}}" class="card-img-top" alt="moine Homme good" id="card-img-perso">
						<div class="card-body" id="card-body-perso">
							<p class="card-text"></p>
							<h5 class="card-title" id="card-title-perso">Moine Homme</h5>
						</div>
					</div>
				</div>
			</div>
			<!-- 3eme ligne de card perso -->
			<h3 id="h3-perso-esprit">Clan Esprits</h3>
			<div class="row row-cols-1 row-cols-md-3 g-4" id="card-persos">
				<div class="col">
					<h5 class="card-title" id="card-title-perso">Archer Esprit Femme</h5>
					<div class="card h-100" id="h-100">
						<img src="{{asset('images/cards/persos/cards_archerF_MAL.png')}}" class="card-img-top" alt="archer femme bad" id="card-img-perso">
						<div class="card-body" id="card-body-perso">
							<p class="card-text"></p>
						</div>
					</div>
				</div>
				<div class="col">
					<h5 class="card-title" id="card-title-perso">Barbare Esprit Femme</h5>
					<div class="card h-100" id="h-100">
						<img src="{{asset('images/cards/persos/cards_barbareF_MAL.png')}}" class="card-img-top" alt="barbare femme bad" id="card-img-perso">
						<div class="card-body" id="card-body-perso">
							<p class="card-text"></p>
						</div>
					</div>
				</div>
				<div class="col">
					<h5 class="card-title" id="card-title-perso">Moine Esprit Femme</h5>
					<div class="card h-100" id="h-100">
						<img src="{{asset('images/cards/persos/cards_moineF_MAL.png')}}" class="card-img-top" alt="moine femme bad" id="card-img-perso">
						<div class="card-body" id="card-body-perso">
							<p class="card-text"></p>
						</div>
					</div>
				</div>
			</div>
			<!-- 4eme ligne de card perso -->
			<div class="row row-cols-1 row-cols-md-3 g-4" id="card-persos">
				<div class="col">
					<div class="card h-100" id="h-100">
						<img src="{{asset('images/cards/persos/cards_archerH_MAL.png')}}" class="card-img-top" alt="archer Homme bad" id="card-img-perso">
						<div class="card-body" id="card-body-perso">
							<p class="card-text"></p>
							<h5 class="card-title" id="card-title-perso">Archer Esprit Homme</h5>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card h-100" id="h-100">
						<img src="{{asset('images/cards/persos/cards_barbareH_MAL.png')}}" class="card-img-top" alt="barbare Homme bad" id="card-img-perso">
						<div class="card-body" id="card-body-perso">
							<p class="card-text"></p>
							<h5 class="card-title" id="card-title-perso">Barbare Esprit Homme</h5>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card h-100" id="h-100">
						<img src="{{asset('images/cards/persos/cards_moineH_MAL.png')}}" class="card-img-top" alt="moine Homme bad" id="card-img-perso">
						<div class="card-body" id="card-body-perso">
							<p class="card-text"></p>
							<h5 class="card-title" id="card-title-perso">Moine Esprit Homme</h5>
						</div>
					</div>
				</div>
			</div>
			<!--Illustration-->
			<div id="containerIllustration">
				<img src="{{asset('images/fond/banderole-admin.jpg')}}" alt="illustation site">
			</div>
			<!--News-->
			<h2 id="h2-news-home">News</h2>
			<div id="container-news-home">
				<div id="cards-news-home">
					<div id="title-news-home">
						<p id="news-home">Quoi de neuf</p>
					</div>
				</div>
			</div>
			<!--Stat-->
			<h2 id="h2-stats-home">Statistique du site</h2>
			<div id="container-stats-home">
				<div id="cards-stats-home">
					<div id="title-stats-home">
						<p id="stat-home">Stats du site</p>
					</div>
					<div id="subtitle-home">
						<p id="classement-stat-home">Classement joueur</p>

					</div>
					<ol id="nbr-stat-home">
						{% for perso in persos %}
							<li>{{perso.pseudo}} {{perso.nbVictoire}}</li>
						{% endfor %}

					</ol>
				</div>
			</div>
		</div>
	</body>
{% endblock %}
