{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block title %}News{% endblock %}

{% block body %}
<body id="bg-news">
    <div id="news-padding">
        <div>
            <h1 id="h1-news">Newsletter</h1>


            {{ form_start(form) }}

                {{ form_row(form.title) }}
              
                {{ form_row(form.message) }}
                
                {{ form_row(form.author) }}

            <div>
                <button type="submit"id="btn-send">Envoyer</button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>

</body>


{% endblock %}
