{% extends 'base.html.twig' %}

{% block title %}Contactez-Nous{% endblock %}

{% block body %}
<body id="bg-contact">
    <div id="contact-padding">
        <div>
            <h1 id="h1-contact">Contactez-Nous</h1>

            <p id="p-contact">Nous vous répondrons sous 24 heures.</p>

            {{ form_start(form) }}

                {{ form_row(form.motif) }}
                {{ form_row(form.email) }}
                {{ form_row(form.message) }}

            <div>
                <button type="submit"id="btn-send">Envoyer</button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>

</body>
    
{% endblock %}
