{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}


{% block title %}Création Personnage !{% endblock %}

{% block body %}
<body id="bg-create-personnage">
    <div id="create-personnage-padding">
        <h1 id="h1-create-personnage">Création Personnage</h1>

            {{ form_start(form) }}

                    {{ form_row(form.pseudo) }}

                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.class) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.clan) }}
                    </div>
                </div>    

                    {{ form_row(form.sex) }}
                    
                  
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.health) }}    
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.attack) }}   
                    </div>
                </div>

                    {{ form_row(form.defense) }}
                

                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.specialitis) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.specialitis_value) }}
                    </div>
                </div>
                    <button class="btn-inscription" type="submit" id="btn-create-personnage">Valider</button>
            {{ form_end(form) }}<br><br>
    
    </div>
</body>
{% endblock %}

