{% extends 'base.html.twig' %}

{% block title %}Création Personnage !{% endblock %}

{% block body %}

<h1>Création Personnage</h1>

<div>
    {{ form_start(form) }}
        <div class="pseudo">

            {{ form_row(form.pseudo) }}
            <br><br>
        </div>
        <div class="class">

            {{ form_row(form.class) }}
            <br><br>
        </div>
        <div class="clan">

            {{ form_row(form.clan) }}
            <br><br>
        </div>
        <div class="sex">

            {{ form_row(form.sex) }}
            <br><br>
        </div>
        <div class="height">

            {{ form_row(form.height) }}
            <br><br>
        </div>
        <div class="weight">

            {{ form_row(form.weight) }}
            <br><br>
        </div>
        <div class="health">

            {{ form_row(form.health) }}
            <br><br>
        </div>
        <div class="attack">

            {{ form_row(form.attack) }}
            <br><br>
        </div>
        <div class="defense">

            {{ form_row(form.defense) }}
            <br><br>
        </div>
        <div class="specialitisetvalue">
            {{ form_row(form.specialitis) }}
            {{ form_row(form.specialitis_value) }}
            <br><br>
        </div>
            <button class="btn-inscription" type="submit">Inscription</button>
    {{ form_end(form) }}<br><br>
</div>
{% endblock %}

