{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('Js/perso-create.js') }}"></script>
{% endblock %}



{% block title %}Création Personnage !{% endblock %}

{% block body %}
<body id="bg-create-personnage">
    <div id="create-personnage-padding">
        <h1 id="h1-create-personnage">Création Personnage</h1>

            {{ form_start(form) }}

                    {{ form_row(form.pseudo) }}

                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.class, {id: 'perso_class'}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.clan, {id: 'perso_clan'}) }}
                    </div>
                </div>

                    {{ form_row(form.sex, {id: 'perso_sex'}) }}

                    <button class="btn-inscription" type="submit" id="btn-create-personnage">Valider</button>
            {{ form_end(form) }}
    </div>
<div id="container-perso-pagecreation">
    <!-- 1 ligne de card perso -->
    <h2 id="h2-perso">Nos personnages</h2>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for perso in persos %}
            <div class="col perso-card" data-clan="{{ perso.clan }}" data-class="{{ perso.class }}" data-sex="{{ perso.sex }}">
                <h5 class="card-title" id="card-title-perso">{{ ('perso.class.' ~ perso.class)|trans }} {{ ('perso.sex.' ~ perso.sex)|trans }}</h5>
                <div class="card h-100" id="h-100">
                    <img src="{{asset(perso.image)}}" class="card-img-top" alt="{{ perso.clan }} {{ perso.class }} {{ perso.sex }}">
                    <div class="card-body" id="card-body-perso">
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>






</div>

</body>
{% endblock %}

